<%
  @devices = MdmDevice.all

  @qr_url = URI('https://chart.googleapis.com/chart').tap do |uri|
    uri.query = URI.encode_www_form({
      cht: 'qr',
      chs: '240x240',
      chl: "#{ENV['MDM_SERVER_BASE_URL']}/mdm.mobileconfig",
    })
  end
%>

<div class="container">
  <h1>Devices</h1>
  <% if @devices.present? %>
  <div class="list-group">
  <% @devices.each do |device| %>
    <a href="/devices/<%= device.udid %>" class="list-group-item list-group-item-action">
    <%= device.udid %>
    </a>
  <% end %>
  </div>
  <% else %>
  no devices
  <% end %>

  <img src="<%= @qr_url %>" />
</div>
