<div class="container">
  <h1>Edit device group</h1>
  <% if @device_group.persisted? %>
  <form action='/device_groups/<%= @device_group.id %>' method='post'>
  <% else %>
  <form action='/device_groups' method='post'>
  <% end %>
    <div class="mb-3">
      <label for="inputName" class="form-label">name</label>
      <input type="text" class="form-control" id="inputName" name="name" value="<%= @device_group.name %>">
    </div>
    <button type="submit" class="btn btn-primary mb-3">SUBMIT</button>
  </form>
  <% if @device_group.persisted? %>
  <form action='/device_groups/<%= @device_group.id %>/delete' method='post'>
    <button type="submit" class="btn btn-outline-danger mb-3">DELETE</button>
  </form>
  <% end %>
</div>
